Derrick Newberry <derricknewberry2017@gmail.com> <53903050+Vialeon@users.noreply.github.com>
Derrick Newberry <derricknewberry2017@gmail.com> <dnewberry21@amherst.edu>
Derrick Newberry <derricknewberry2017@gmail.com> dnewberr <derricknewberry2017@gmail.com>
