---
version: 1
interactions:
- request:
    body: |
      {"query":"query($query:String!){search(query: $query, version: V2){results{results{__typename,... on FileMatch{repository{name,url},file{name,path,url,content,commit{oid}},lineMatches{preview,lineNumber,offsetAndLengths}},... on CommitSearchResult{messagePreview{value,highlights{line,character,length}},diffPreview{value,highlights{line,character,length}},label{html},url,matches{url,body{html,text},highlights{line,character,length}},commit{repository{name,url},oid,url,subject,author{date,person{displayName}}}},... on Repository{name,url,externalURLs{serviceKind,url},label{html}}},limitHit,cloning{name},missing{name},timedout{name},matchCount,elapsedMilliseconds}}}","variables":{"query":"TODO"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://sourcegraph.com/.api/graphql
    method: POST
  response:
    body: "{\"data\":{\"search\":{\"results\":{\"results\":[{\"__typename\":\"Repository\",\"name\":\"github.com/1061700625/QQZone_AutoDownload_Album\",\"url\":\"/github.com/1061700625/QQZone_AutoDownload_Album\",\"externalURLs\":[{\"serviceKind\":\"GITHUB\",\"url\":\"https://github.com/1061700625/QQZone_AutoDownload_Album\"}],\"label\":{\"html\":\"\\u003cp\\u003e\\u003ca
      href=\\\"/github.com/1061700625/QQZone_AutoDownload_Album\\\" rel=\\\"nofollow\\\"\\u003egithub.com/1061700625/QQZone_AutoDownload_Album\\u003c/a\\u003e\\u003c/p\\u003e\\n\"}},{\"__typename\":\"Repository\",\"name\":\"github.com/3den/riotjs-todomvc\",\"url\":\"/github.com/3den/riotjs-todomvc\",\"externalURLs\":[{\"serviceKind\":\"GITHUB\",\"url\":\"https://github.com/3den/riotjs-todomvc\"}],\"label\":{\"html\":\"\\u003cp\\u003e\\u003ca
      href=\\\"/github.com/3den/riotjs-todomvc\\\" rel=\\\"nofollow\\\"\\u003egithub.com/3den/riotjs-todomvc\\u003c/a\\u003e\\u003c/p\\u003e\\n\"}},{\"__typename\":\"Repository\",\"name\":\"github.com/4gray/electronTodoApp\",\"url\":\"/github.com/4gray/electronTodoApp\",\"externalURLs\":[{\"serviceKind\":\"GITHUB\",\"url\":\"https://github.com/4gray/electronTodoApp\"}],\"label\":{\"html\":\"\\u003cp\\u003e\\u003ca
      href=\\\"/github.com/4gray/electronTodoApp\\\" rel=\\\"nofollow\\\"\\u003egithub.com/4gray/electronTodoApp\\u003c/a\\u003e\\u003c/p\\u003e\\n\"}},{\"__typename\":\"Repository\",\"name\":\"github.com/4tomik/JSTodoList\",\"url\":\"/github.com/4tomik/JSTodoList\",\"externalURLs\":[{\"serviceKind\":\"GITHUB\",\"url\":\"https://github.com/4tomik/JSTodoList\"}],\"label\":{\"html\":\"\\u003cp\\u003e\\u003ca
      href=\\\"/github.com/4tomik/JSTodoList\\\" rel=\\\"nofollow\\\"\\u003egithub.com/4tomik/JSTodoList\\u003c/a\\u003e\\u003c/p\\u003e\\n\"}},{\"__typename\":\"FileMatch\",\"repository\":{\"name\":\"github.com/521xueweihan/HelloGitHub\",\"url\":\"/github.com/521xueweihan/HelloGitHub\"},\"file\":{\"name\":\"HelloGitHub15.md\",\"path\":\"content/15/HelloGitHub15.md\",\"url\":\"/github.com/521xueweihan/HelloGitHub/-/blob/content/15/HelloGitHub15.md\",\"content\":\"#
      《HelloGitHub》第 15 期\\n\\u003e 兴趣是最好的老师，**HelloGitHub** 让你对编程感兴趣！\\n\\u003cp
      align=\\\"center\\\"\\u003e\\n    \\u003cimg src='https://raw.githubusercontent.com/521xueweihan/img/master/hellogithub/01/img/hello-github.jpg'
      style=\\\"max-width:100%;\\\"\\u003e\\u003c/img\\u003e\\n\\u003c/p\\u003e\\n\\n##
      目录\\n\\n**Tips**：如果文中的图刷不出来，可以点击 [这里](https://hellogithub.com/periodical/volume/15/)
      获取更好的阅读体验。\\n\\n- [CSS 项目](#CSS-项目)\\n- [Go 项目](#Go-项目)\\n- [Java 项目](#Java-项目[...]
