---
version: 1
interactions:
- request:
    body: |
      {"query":"query($login:String!){user(login: $login){bio,avatarUrl,company,createdAt,email,isHireable,isEmployee,name,twitterUsername}}","variables":{"login":"patrickdevivo"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"user":{"bio":"Software engineer in NYC","avatarUrl":"https://avatars.githubusercontent.com/u/57259?u=9f229083d0db9f54add2b0db0bea1d726d6640cd&v=4","company":"@packethost
      ","createdAt":"2009-02-23T21:42:03Z","email":"patrick.devivo@gmail.com","isHireable":true,"isEmployee":false,"name":"Patrick
      DeVivo","twitterUsername":null}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - read:org, repo, user
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4999"
      X-Ratelimit-Reset:
      - "1636403634"
      X-Ratelimit-Resource:
      - graphql
      X-Ratelimit-Used:
      - "1"
    status: 200 OK
    code: 200
    duration: 327.876304ms
