---
version: 1
interactions:
- request:
    body: |
      {"query":"query($commentcursor:String$name:String!$orderBy:IssueCommentOrder$owner:String!$perPage:Int!$prNumber:Int!){repository(owner: $owner, name: $name){owner{login},name,pullRequest(number: $prNumber){id,number,comments(first: $perPage, after: $commentcursor,orderBy: $orderBy){nodes{body,author{login,url},createdAt,databaseId,id,updatedAt,url},pageInfo{endCursor,hasNextPage}}}}}","variables":{"commentcursor":null,"name":"askgit","orderBy":null,"owner":"askgitdev","perPage":100,"prNumber":193}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repository":{"owner":{"login":"askgitdev"},"name":"askgit","pullRequest":{"id":"PR_kwDOEIJSDM4s_pJJ","number":193,"comments":{"nodes":[{"body":"#
      [Codecov](https://codecov.io/gh/mergestat/mergestat/pull/193?src=pr&el=h1&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=None)
      Report\n> Merging [#193](https://codecov.io/gh/mergestat/mergestat/pull/193?src=pr&el=desc&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=None)
      (cf8ca56) into [main](https://codecov.io/gh/mergestat/mergestat/commit/e3ada899f99c256b039c67aadd73edc37849e0[...]
[...]
