---
version: 1
interactions:
- request:
    body: |
      {"query":"query($commitObjectCursor:String$name:String!$owner:String!){rateLimit{cost,limit,nodeCount,remaining,resetAt,used},repository(owner: $owner, name: $name){owner{login},name,defaultBranchRef{target{... on Commit{history(first:100,after: $commitObjectCursor){nodes{additions,author{email,name,date},changedFiles,committer{email,name,date},deletions,oid,message,url},pageInfo{endCursor,hasNextPage}}}}}}}","variables":{"commitObjectCursor":null,"name":"mergestat","owner":"mergestat"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"rateLimit":{"cost":1,"limit":5000,"nodeCount":100,"remaining":4761,"resetAt":"2022-03-21T18:34:57Z","used":239},"repository":{"owner":{"login":"mergestat"},"name":"mergestat","defaultBranchRef":{"target":{"history":{"nodes":[{"additions":1,"author":{"email":"patrick.devivo@gmail.com","name":"Patrick
      DeVivo","date":"2022-03-08T14:52:06-05:00"},"changedFiles":1,"committer":{"email":"patrick.devivo@gmail.com","name":"Patrick
      DeVivo","date":"2022-03-08T14:52:06-05:00"},"deletions":1,"oid":"d168a52b1fbc9252b81fb2c1c57bd6c3b828abb2","message":"fix:
      change log line to reflect actual behavior","url":"https://github.com/mergestat/mergestat/commit/d168a52b1fbc9252b81fb2c1c57bd6c3b828abb2"},{"additions":21,"author":{"email":"patrick.devivo@gmail.com","name":"Patrick
      DeVivo","date":"2022-03-07T20:04:07-05:00"},"changedFiles":9,"committer":{"email":"noreply@github.com","name":"GitHub","date":"2022-03-07T20:04:07-05:00"},"deletions":12,"oid":"7f969dc6ac396e34a29410d554897091c29541c1","message":"Merge
      pull request #266 from [...]
- request:
    body: |
      {"query":"query($branch:String!$commitObjectCursor:String$name:String!$owner:String!){rateLimit{cost,limit,nodeCount,remaining,resetAt,used},repository(owner: $owner, name: $name){owner{login},name,object(expression: $branch){... on Commit{history(first:100,after: $commitObjectCursor){nodes{additions,author{email,name,date},changedFiles,committer{email,name,date},deletions,oid,message,url},pageInfo{endCursor,hasNextPage}}}}}}","variables":{"branch":"main","commitObjectCursor":null,"name":"mergestat","owner":"mergestat"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"rateLimit":{"cost":1,"limit":5000,"nodeCount":100,"remaining":4760,"resetAt":"2022-03-21T18:34:57Z","used":240},"repository":{"owner":{"login":"mergestat"},"name":"mergestat","object":{"history":{"nodes":[{"additions":1,"author":{"email":"patrick.devivo@gmail.com","name":"Patrick
      DeVivo","date":"2022-03-08T14:52:06-05:00"},"changedFiles":1,"committer":{"email":"patrick.devivo@gmail.com","name":"Patrick
      DeVivo","date":"2022-03-08T14:52:06-05:00"},"deletions":1,"oid":"d168a52b1fbc9252b81fb2c1c57bd6c3b828abb2","message":"fix:
      change log line to reflect actual behavior","url":"https://github.com/mergestat/mergestat/commit/d168a52b1fbc9252b81fb2c1c57bd6c3b828abb2[...]
