---
version: 1
interactions:
- request:
    body: |
      {"query":"query($login:String!){rateLimit{cost,limit,nodeCount,remaining,resetAt,used},user(login: $login){bio,avatarUrl,company,createdAt,email,isHireable,isEmployee,name,twitterUsername}}","variables":{"login":"patrickdevivo"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"rateLimit":{"cost":1,"limit":5000,"nodeCount":0,"remaining":4258,"resetAt":"2022-03-21T18:34:57Z","used":742},"user":{"bio":"Software
      engineer in NYC","avatarUrl":"https://avatars.githubusercontent.com/u/57259?u=9f229083d0db9f54add2b0db0bea1d726d6640cd&v=4","company":"@mergestat","createdAt":"2009-02-23T21:42:03Z","email":"patrick.devivo@gmail.com","isHireable":true,"isEmployee":false,"name":"Patrick
      DeVivo","twitterUsername":"patrickdevivo"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - read:org, repo, user
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4258"
      X-Ratelimit-Reset:
      - "1647887697"
      X-Ratelimit-Resource:
      - graphql
      X-Ratelimit-Used:
      - "742"
    status: 200 OK
    code: 200
    duration: 365.145731ms
