---
version: 1
interactions:
- request:
    body: |
      {"query":"query($affiliations:[RepositoryAffiliation!]!$login:String!$perPage:Int!$repositoryOrder:RepositoryOrder$userReposCursor:String){user(login: $login){login,repositories(first: $perPage, after: $userReposCursor, orderBy: $repositoryOrder, affiliations: $affiliations){nodes{createdAt,databaseId,defaultBranchRef{name,prefix},description,diskUsage,forkCount,homepageUrl,isArchived,isDisabled,isFork,isMirror,isPrivate,issues{totalCount},latestRelease{author{login},createdAt,name,publishedAt},licenseInfo{key,name,nickname},name,openGraphImageUrl,primaryLanguage{name},pullRequests{totalCount},pushedAt,releases{totalCount},stargazerCount,repositoryTopics(first: 10){nodes{topic{name}}},updatedAt,watchers{totalCount}},pageInfo{endCursor,hasNextPage}}}}","variables":{"affiliations":[],"login":"josephjacks","perPage":100,"repositoryOrder":null,"userReposCursor":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"user\":{\"login\":\"josephjacks\",\"repositories\":{\"nodes\":[{\"createdAt\":\"2015-03-14T22:31:12Z\",\"databaseId\":32235194,\"defaultBranchRef\":{\"name\":\"master\",\"prefix\":\"refs/heads/\"},\"description\":\"Container
      Cluster Manager from Google\",\"diskUsage\":103671,\"forkCount\":0,\"homepageUrl\":\"http://kubernetes.io\",\"isArchived\":false,\"isDisabled\":false,\"isFork\":true,\"isMirror\":false,\"isPrivate\":false,\"issues\":{\"totalCount\":0},\"latestRelease\":null,\"licenseInfo\":{\"key\":\"apache-2.0\",\"name\":\"Apache
      License 2.0\",\"nickname\":null},\"name\":\"kubernetes\",\"openGraphImageUrl\":\"https://avatars.githubusercontent.com/u/7909184?s=400&v=4\",\"primaryLanguage\":{\"name\":\"Go\"},\"pullRequests\":{\"totalCount\":0},\"pushedAt\":\"2015-03-14T00:20:17Z\",\"releases\":{\"totalCount\":0},\"stargazerCount\":0,\"repositoryTopics\":{\"nodes\":[]},\"updatedAt\":\"2019-01-06T07:34:35Z\",\"watchers\":{\"totalCount\":0}},{\"createdAt\":\"2015-03-31T20:33:00Z\",\"databaseId\":33208367,\"defaultBranchRef\":{\"name\":\"master\",\"prefix\":\"refs/heads/\"},\"description\":\"Framework
      for setting up predictive analytics services\",\"diskUsage\":169,\"forkCount\":0,\"homepageUrl\":null,\"isArchived\":false,\"isDisabled\":false,\"isFork\":true,\"isMirror\":false,\"isPrivate\":false,\"issues\":{\"totalCount\":0},\"latestRelease\":null,\"licenseInfo\":{\"key\":\"apache-2.0\",\"name\":\"Apache
  [...]
