---
version: 1
interactions:
- request:
    body: |
      {"query":"query($affiliations:[RepositoryAffiliation!]!$login:String!$orgReposCursor:String$perPage:Int!$repositoryOrder:RepositoryOrder){rateLimit{cost,limit,nodeCount,remaining,resetAt,used},organization(login: $login){login,repositories(first: $perPage, after: $orgReposCursor, orderBy: $repositoryOrder, affiliations: $affiliations){nodes{createdAt,databaseId,defaultBranchRef{name,prefix},description,diskUsage,forkCount,homepageUrl,isArchived,isDisabled,isFork,isMirror,isPrivate,issues{totalCount},latestRelease{author{login},createdAt,name,publishedAt},licenseInfo{key,name,nickname},name,openGraphImageUrl,primaryLanguage{name},pullRequests{totalCount},pushedAt,releases{totalCount},stargazerCount,repositoryTopics(first: 10){nodes{topic{name}}},updatedAt,watchers{totalCount}},pageInfo{endCursor,hasNextPage}}}}","variables":{"affiliations":[],"login":"facebook","orgReposCursor":null,"perPage":50,"repositoryOrder":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"rateLimit":{"cost":1,"limit":5000,"nodeCount":550,"remaining":3229,"resetAt":"2022-03-21T17:34:56Z","used":1771},"organization":{"login":"facebook","repositories":{"nodes":[{"createdAt":"2010-01-02T01:17:06Z","databaseId":455600,"defaultBranchRef":{"name":"master","prefix":"refs/heads/"},"description":"A
      virtual machine for executing programs written in Hack.","diskUsage":510262,"forkCount":2988,"homepageUrl":"https://hhvm.com","isArchived":false,"isDisabled":false,"isFork":false,"isMirror":false,"isPrivate":false,"issues":{"totalCount":5873},"latestRelease":{"author":{"login":"Orvid"},"createdAt":"2016-09-07T22:47:05Z","name":"","publishedAt":"2016-09-28T21:01:13Z"},"licenseInfo":{"key":"other","name":"Other","nickname":null},"name":"hhvm","openGraphImageUrl":"https://avatars.githubusercontent.com/u/69631?s=400&v=4","primaryLanguage":{"name":"C++"},"pullRequests":{"totalCount":3047},"pushedAt":"2022-03-21T17:07:06Z","releases":{"totalCount":15},"stargazerCount":17213,"repositoryTopics":{"nodes":[{"topic":{"name":"hhvm"}},{"topic":{"name":"php"}},{"topic":{"name":"hack"}},{"topic":{"name":"hacklang"}}]},"updatedAt":"2022-03-21T10:40:53Z","watchers":{"totalCount":1031}},{"createdAt":"2010-03-16T18:45:15Z","databaseId":565426,"defaultBranchRef":{"name":"main","prefix":"refs/heads/"},"description":"Python
      wrapper for RE2","diskUsage":49,"forkCount":162,"homepageUrl":"","isArchived":false,"isDisabled":false,"isFork":false,"isMirror":false,"isPrivate":false,"issues":{"totalCount":5},"latestRelease":null,"licenseInfo":{"key":"bsd-3-clause","name":"BSD
      3-Clause \"New\" or \"Revised\" License","nickname":null},"name":"pyre2","openGraph[...]
