---
version: 1
interactions:
- request:
    body: |
      {"query":"query($commitObjectCursor:String$name:String!$owner:String!){repository(owner: $owner, name: $name){owner{login},name,defaultBranchRef{target{... on Commit{history(first:100,after: $commitObjectCursor){nodes{additions,author{email,name,date},changedFiles,committer{email,name,date},deletions,oid,message,url},pageInfo{endCursor,hasNextPage}}}}}}}","variables":{"commitObjectCursor":null,"name":"mergestat","owner":"mergestat"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repository":{"owner":{"login":"mergestat"},"name":"mergestat","defaultBranchRef":{"target":{"history":{"nodes":[{"additions":2,"author":{"email":"patrick.devivo@gmail.com","name":"Patrick
      DeVivo","date":"2022-01-07T15:43:32-05:00"},"changedFiles":1,"committer":{"email":"noreply@github.com","name":"GitHub","date":"2022-01-07T15:43:32-05:00"},"deletions":2,"oid":"a7b0837840ae9ca39d1e3e14adb0b485aafab0d2","message":"fix:
      update some links in the README","url":"https://github.com/mergestat/mergestat/commit/a7b0837840ae9ca39d1e3e14adb0b485aafab0d2"},{"additions":424,"author":{"email":"53903050+Vialeon@users.noreply.github.com","name":"Derrick
      Newberry","date":"2022-01-06T13:05:20-06:00"},"changedFiles":4,"committer":{"email":"noreply@github.com","name":"GitHub","date":"2022-01-06T14:05:20-05:00"},"deletions":0,"oid":"a8b15b84e3def7ec4601db072ffdc9893948ae15","message":"Implement
      `github_rep[...]
- request:
    body: |
      {"query":"query($branch:String!$commitObjectCursor:String$name:String!$owner:String!){repository(owner: $owner, name: $name){owner{login},name,object(expression: $branch){... on Commit{history(first:100,after: $commitObjectCursor){nodes{additions,author{email,name,date},changedFiles,committer{email,name,date},deletions,oid,message,url},pageInfo{endCursor,hasNextPage}}}}}}","variables":{"branch":"main","commitObjectCursor":null,"name":"mergestat","owner":"mergestat"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repository":{"owner":{"login":"mergestat"},"name":"mergestat","object":{"history":{"nodes":[{"additions":2,"author":{"email":"patrick.devivo@gmail.com","name":"Patrick
      DeVivo","date":"2022-01-07T15:43:32-05:00"},"changedFiles":1,"committer":{"email":"noreply@github.com","name":"GitHub","date":"2022-01-07T15:43:32-05:00"},"deletions":2,"oid":"a7b0837840ae9ca39d1e3e14adb0b485aafab0d2","message":"fix:
      update some links in the README","url":"https://github.com/mergestat/mergestat/commit/a7b0837840ae9ca39d1e3e14adb0b485aafab0d2"},{"additions":424,"author":{"[...]
