---
version: 1
interactions:
- request:
    body: |
      {"query":"query($affiliations:[RepositoryAffiliation!]!$login:String!$orgReposCursor:String$perPage:Int!$repositoryOrder:RepositoryOrder){organization(login: $login){login,repositories(first: $perPage, after: $orgReposCursor, orderBy: $repositoryOrder, affiliations: $affiliations){nodes{createdAt,databaseId,defaultBranchRef{name,prefix},description,diskUsage,forkCount,homepageUrl,isArchived,isDisabled,isFork,isMirror,isPrivate,issues{totalCount},latestRelease{author{login},createdAt,name,publishedAt},licenseInfo{key,name,nickname},name,openGraphImageUrl,primaryLanguage{name},pullRequests{totalCount},pushedAt,releases{totalCount},stargazerCount,repositoryTopics(first: 10){nodes{topic{name}}},updatedAt,watchers{totalCount}},pageInfo{endCursor,hasNextPage}}}}","variables":{"affiliations":[],"login":"facebook","orgReposCursor":null,"perPage":100,"repositoryOrder":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"organization\":{\"login\":\"facebook\",\"repositories\":{\"nodes\":[{\"createdAt\":\"2010-01-02T01:17:06Z\",\"databaseId\":455600,\"defaultBranchRef\":{\"name\":\"master\",\"prefix\":\"refs/heads/\"},\"description\":\"A
      virtual machine for executing programs written in Hack.\",\"diskUsage\":496744,\"forkCount\":2959,\"homepageUrl\":\"https://hhvm.com\",\"isArchived\":false,\"isDisabled\":false,\"isFork\":false,\"isMirror\":false,\"isPrivate\":false,\"issues\":{\"totalCount\":5825},\"latestRelease\":{\"author\":{\"login\":\"Orvid\"},\"createdAt\":\"2016-09-07T22:47:05Z\",\"name\":\"\",\"publishedAt\":\"2016-09-28T21:01:13Z\"},\"licenseInfo\":{\"key\":\"other\",\"name\":\"Other\",\"nickname\":null},\"name\":\"hhvm\",\"openGraphImageUrl\":\"https://avatars.githubusercontent.com/u/69631?s=400&v=4\",\"primaryLanguage\":{\"name\":\"C++\"},\"pullRequests\":{\"totalCount\":2976},\"pushedAt\":\"2021-10-11T02:29:49Z\",\"releases\":{\"totalCount\":15},\"stargazerCount\":17077,\"repositoryTopics\":{\"nodes\":[{\"topic\":{\"name\":\"hhvm\"}},{\"topic\":{\"name\":\"php\"}},{\"topic\":{\"name\":\"hack\"}},{\"topic\":{\"name\":\"hacklang\"}}]},\"updatedAt\":\"2021-10-10T21:10:55Z\",\"watchers\":{\"totalCount\":1045}},{\"createdAt\":\"2010-03-16T18:45:15Z\",\"databaseId\":565426,\"defaultBranchRef\":{\"name\":\"main\",\"prefix\":\"refs/heads/\"},\"description\":\"Python
      wrapper for RE2\",\"diskUsage\":49,\"forkCount\":160,\"homepageUrl\":\"\",\"isArchived\":false,\"isDisabled\":false,\"isFork\":false,\"isMirror\":false,\"isPrivate\":false,\"issues\":{\"totalCount\":5},\"latestRelease\":null,\"licenseInfo\":{\"key\":\"bsd-3-clause\",\"name\":\"BSD
      3-Clause \\\"New\\\" or \\\"[...]
