---
version: 1
interactions:
- request:
    body: |
      {"query":"query($name:String!$owner:String!$perpage:Int!$refcursor:String$refs:String!){rateLimit{cost,limit,nodeCount,remaining,resetAt,used},repository(owner: $owner, name: $name){owner{login},name,refs(refPrefix: $refs, after: $refcursor, first: $perpage){nodes{name,prefix,target{... on Commit{oid,author{name,email}}}},pageInfo{endCursor,hasNextPage}}}}","variables":{"name":"mergestat","owner":"mergestat","perpage":50,"refcursor":null,"refs":"refs/heads/"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"rateLimit":{"cost":1,"limit":5000,"nodeCount":50,"remaining":3823,"resetAt":"2022-03-21T16:34:55Z","used":1177},"repository":{"owner":{"login":"mergestat"},"name":"mergestat","refs":{"nodes":[{"name":"audit_log","prefix":"refs/heads/","target":{"oid":"e9ef1c6e672becb0cf3da1b956a39a39b43dccb7","author":{"name":"vialeon","email":"dnewberry21@amherst.edu"}}},{"name":"checkSuite","prefix":"refs/heads/","target":{"oid":"6e13893f89c769b4514d6d3e6c396171262c7083","author":{"name":"vialeon","email":"dnewberry21@amherst.edu"}}},{"name":"generalize_summary","prefix":"refs/heads/","target":{"oid":"7707223273630761b7ab8a73515bf6fc55805c1c","author":{"name":"dnewberr","email":"derricknewberry2017@gmail.com"}}},{"name":"main","prefix":"refs/heads/","target":{"oid":"d168a52b1fbc9252b81fb2c1c57bd6c3b828abb2","author":{"name":"Patrick
      DeVivo","email":"patrick.devivo@gmail.com"}}},{"name":"modify-tag-hash-behavior","prefix":"refs/heads/","target":{"oid":"6144fe8abc64e6105887b2bba3bec47fd3981b96","author":{"name":"Patrick
      DeVivo","email":"patrick.devivo@gmail.com"}}},{"name":"pgsync","prefix":"refs/heads/","target":{"oid":"e54291f783a8811c47688b5e366deb1de001b6cd","author":{"name":"Patrick
      DeVivo","email":"patrick.devivo@gmail.com"}}}],"pageInfo":{"endCursor":"Ng","hasNextPage":false}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - read:org, repo, user
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "3823"
      X-Ratelimit-Reset:
      - "1647880495"
      X-Ratelimit-Resource:
      - graphql
      X-Ratelimit-Used:
      - "1177"
    status: 200 OK
    code: 200
    duration: 582.08819ms
[...]
