---
version: 1
interactions:
- request:
    body: |
      {"query":"query($name:String!$owner:String!$perpage:Int!$prcursor:String$prorder:IssueOrder){rateLimit{cost,limit,nodeCount,remaining,resetAt,used},repository(owner: $owner, name: $name){owner{login},name,pullRequests(first: $perpage, after: $prcursor, orderBy: $prorder){nodes{activeLockReason,additions,author{login,avatarUrl,... on User{name}},authorAssociation,baseRefOid,baseRefName,baseRepository{nameWithOwner},body,changedFiles,closed,closedAt,comments{totalCount},commits{totalCount},createdAt,createdViaEmail,databaseId,deletions,editor{login},headRefName,headRefOid,headRepository{nameWithOwner},isCrossRepository,isDraft,labels(first: 15){totalCount,nodes{name}},lastEditedAt,locked,maintainerCanModify,mergeable,merged,mergedAt,mergedBy{login},number,participants{totalCount},publishedAt,reviewDecision,state,title,updatedAt,url},pageInfo{endCursor,hasNextPage}}}}","variables":{"name":"mergestat","owner":"mergestat","perpage":50,"prcursor":null,"prorder":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"rateLimit":{"cost":1,"limit":5000,"nodeCount":800,"remaining":4993,"resetAt":"2022-06-20T21:19:17Z","used":7},"repository":{"owner":{"login":"mergestat"},"name":"mergestat","pullRequests":{"nodes":[{"activeLockReason":null,"additions":7,"author":{"login":"patrickdevivo","avatarUrl":"https://avatars.githubusercontent.com/u/57259?u=9f229083d0db9f54add2b0db0bea1d726d6640cd&v=4","name":"Patrick
      DeVivo"},"authorAssociation":"MEMBER","baseRefOid":"470835a70ed61a489eac90b7db9fef94b4af75fe","baseRefName":"master","baseRepository":{"nameWithOwner":"mergestat/mergestat"},"body":"","changedFiles":2,"closed":true,"closedAt":"2020-07-04T02:33:28Z","comments":{"totalCount":0},"commits":{"totalCount":1},"createdAt":"2020-07-04T00:38:16Z","createdViaEmail":false,"databaseId":444220062,"deletions":7,"editor":null,"headRefName":"lint-fixes","headRefOid":"4eb47f399128326bb781eb072d6c0527b4110384","headRepository":{"nameWithOwner":"mergestat/mergestat"},"isCrossRepository":false,"isDraft":false,"labels":{"totalCount":0,"nodes":[]},"lastEditedAt":null,"locked":false,"maintainerCanModify":false,"mergeable":"CONFLICTING","merged":true,"mergedAt":"2020-07-04T02:33:28Z","mergedBy":{"login":"patrickdevivo"},"number":1,"participants":{"totalCount":1},"publishedAt":"2020-07-04T00:38:16Z","reviewDecision":null,"state":"MERGED","title":"address
      some golint issues","updatedAt":"2020-07-04T02:33:35Z","url":"https://github.com/mergestat/mergestat/pull/1"},{"activeLockReason":null,"additions":1,"author":{"login":"OutOfBrain","avatarUrl":"https://avatars.githubusercontent.com/u/103776?v=4","name":"Sirko
      B"},"authorAssociation":"NONE","baseRefOid":"96009b96edd0a88d515751ed835373ff24f2ea3a","baseRefName":"master","baseRepository":{"nameWithOwner":"mergestat/mergestat"},"body":"When
      querying a local repository with a local file path that is outside of the current[...]
