---
version: 1
interactions:
- request:
    body: |
      {"query":"query($name:String!$owner:String!$perPage:Int!$prNumber:Int!$reviewCursor:String){rateLimit{cost,limit,nodeCount,remaining,resetAt,used},repository(owner: $owner, name: $name){owner{login},name,pullRequest(number: $prNumber){id,number,reviews(first: $perPage, after: $reviewCursor){nodes{author{login,url},authorAssociation,authorCanPushToRepository,body,comments{totalCount},createdAt,createdViaEmail,editor{login},id,lastEditedAt,publishedAt,state,submittedAt,updatedAt},pageInfo{endCursor,hasNextPage}}}}}","variables":{"name":"mergestat","owner":"mergestat","perPage":50,"prNumber":261,"reviewCursor":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"rateLimit":{"cost":1,"limit":5000,"nodeCount":50,"remaining":4780,"resetAt":"2022-04-14T15:54:03Z","used":220},"repository":{"owner":{"login":"mergestat"},"name":"mergestat","pullRequest":{"id":"PR_kwDOEIJSDM4zLnWt","number":261,"reviews":{"nodes":[{"author":{"login":"patrickdevivo","url":"https://github.com/patrickdevivo"},"authorAssociation":"MEMBER","authorCanPushToRepository":true,"body":"","comments":{"totalCount":1},"createdAt":"2022-02-28T19:22:22Z","createdViaEmail":false,"editor":null,"id":"PRR_kwDOEIJSDM41YD9j","lastEditedAt":null,"publishedAt":"2022-02-28T19:22:22Z","state":"COMMENTED","submittedAt":"2022-02-28T19:22:22Z","updatedAt":"2022-02-28T19:22:22Z"},{"author":{"login":"patrickdevivo","url":"https://github.com/patrickdevivo"},"authorAssociation":"MEMBER","authorCanPushToRepository":true,"body":"","comments":{"totalCount":0},"createdAt":"2022-03-02T23:44:33Z","createdViaEmail":false,"editor":null,"id":"PRR_kwDOEIJSDM41ivam","lastEditedAt":null,"publishedAt":"2022-03-02T23:44:33Z","state":"APPROVED","submittedAt":"2022-03-02T23:44:33Z","updatedAt":"2022-03-02T23:44:33Z"}],"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpO5MjAyMi0wMy0wMlQxODo0NDozMy0wNTowMLkyMDIyLTAzLTAyVDE4OjQ0OjMzLTA1OjAwzjWK9qY=","hasNextPage":false}}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - read:org, repo, user
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4780"
      X-Ratelimit-Reset:
      - "1649951643"
      X-Ratelimit-Resource:
      - graphql
      X-Ratelimit-Used:
      - "220"
    status: 200 OK
    code: 200
    duration: 290.360703ms
[...]
