---
version: 1
interactions:
- request:
    body: |
      {"query":"query($issuecursor:String$issueorder:IssueOrder$name:String!$owner:String!$perpage:Int!){rateLimit{cost,limit,nodeCount,remaining,resetAt,used},repository(owner: $owner, name: $name){owner{login},name,issues(first: $perpage, after: $issuecursor, orderBy: $issueorder){edges{cursor,node{author{login},body,closed,closedAt,comments{totalCount},createdAt,createdViaEmail,databaseId,editor{login},includesCreatedEdit,isReadByViewer,labels{totalCount},lastEditedAt,locked,milestone{number},number,participants{totalCount},publishedAt,reactions{totalCount},state,title,updatedAt,url}},pageInfo{endCursor,hasNextPage}}}}","variables":{"issuecursor":null,"issueorder":null,"name":"mergestat","owner":"mergestat","perpage":50}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"rateLimit":{"cost":1,"limit":5000,"nodeCount":50,"remaining":4629,"resetAt":"2022-03-21T18:34:57Z","used":371},"repository":{"owner":{"login":"mergestat"},"name":"mergestat","issues":{"edges":[{"cursor":"Y3Vyc29yOnYyOpHOJs4z-A==","node":{"author":{"login":"erezsh"},"body":"I''m
      not very familiar with Go, so perhaps I''m doing something wrong?\r\n\r\n```bash\r\n$
      go install -v -tags=sqlite_vtable github.com/augmentable-dev/gitqlite\r\ncan''t
      load package: package github.com/augmentable-dev/gitqlite: cannot find package
      \"github.com/augmentable-dev/gitqlite\" in any of:\r\n        /usr/lib/go-1.10/src/github.com/augmentable-dev/gitqlite
      (from $GOROOT)\r\n        /home/erez/go/src/github.com/augmentable-dev/gitqlite
      (from $GOPATH)\r\n```\r\n","closed":true,"closedAt":"2020-07-05T18:01:42Z","comments":{"totalCount":12},"createdAt":"2020-07-05T11:00:44Z","createdViaEmail":false,"databaseId":651047928,"editor":null,"includesCreatedEdit":false,"isReadByViewer":true,"labels":{"totalCount":0},"lastEditedAt":null,"locked":false,"milestone":null,"number":3,"participants":{"totalCount":3},"publishedAt":"2020-07-05T11:00:44Z","reactions":{"totalCount":1},"state":"CLOSED","title":"Following
      installation instructions doesn''t work?","updatedAt":"2020-07-05T18:01:42Z","url":"https://github.com/mergestat/mergestat/issues/3"}},{"cursor":"Y3Vyc29yOnYyOpHOJtui8g==","node":{"author":{"login":"joni2back"},"body":"","closed":true,"closedAt":"2020-07-07T02:08:51Z","comments":{"totalCount":1},"createdAt":"2020-07-07T01:50:24Z","createdViaEmail":false,"databaseId":651928306,"editor":null,"includesCreatedEdit":false,"isReadByViewer":true,"labels":{"totalCount":0},"lastEditedAt":null,"locked":false,"milestone":null,"number":9,"participants":{"total[...]
