---
version: 1
interactions:
- request:
    body: |
      {"query":"query($name:String!$owner:String!){rateLimit{cost,limit,nodeCount,remaining,resetAt,used},repository(owner: $owner, name: $name){stargazerCount}}","variables":{"name":"mergestat","owner":"mergestat"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"rateLimit":{"cost":1,"limit":5000,"nodeCount":0,"remaining":4347,"resetAt":"2022-03-21T18:34:57Z","used":653},"repository":{"stargazerCount":2868}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - read:org, repo, user
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4347"
      X-Ratelimit-Reset:
      - "1647887697"
      X-Ratelimit-Resource:
      - graphql
      X-Ratelimit-Used:
      - "653"
    status: 200 OK
    code: 200
    duration: 328.943031ms
