---
version: 1
interactions:
- request:
    body: |
      {"query":"query($login:String!$orderBy:StarOrder$perpage:Int!$startcursor:String){rateLimit{cost,limit,nodeCount,remaining,resetAt,used},user(login: $login){login,starredRepositories(first: $perpage, after: $startcursor, orderBy: $orderBy){edges{starredAt,node{name,url,description,createdAt,pushedAt,updatedAt,stargazerCount,nameWithOwner}},pageInfo{endCursor,hasNextPage}}}}","variables":{"login":"patrickdevivo","orderBy":null,"perpage":50,"startcursor":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"rateLimit\":{\"cost\":1,\"limit\":5000,\"nodeCount\":50,\"remaining\":4278,\"resetAt\":\"2022-03-21T18:34:57Z\",\"used\":722},\"user\":{\"login\":\"patrickdevivo\",\"starredRepositories\":{\"edges\":[{\"starredAt\":\"2009-02-23T21:42:03Z\",\"node\":{\"name\":\"rails\",\"url\":\"https://github.com/rails/rails\",\"description\":\"Ruby
      on Rails\",\"createdAt\":\"2008-04-11T02:19:47Z\",\"pushedAt\":\"2022-03-21T16:28:53Z\",\"updatedAt\":\"2022-03-21T15:38:10Z\",\"stargazerCount\":50367,\"nameWithOwner\":\"rails/rails\"}},{\"starredAt\":\"2009-02-23T21:42:03Z\",\"node\":{\"name\":\"processing-js\",\"url\":\"https://github.com/jeresig/processing-js\",\"description\":\"A
      port of the Processing visualization language to JavaScript.\",\"createdAt\":\"2008-05-12T18:19:10Z\",\"pushedAt\":\"2018-12-04T22:20:56Z\",\"updatedAt\":\"2022-03-08T23:34:43Z\",\"stargazerCount\":1713,\"nameWithOwner\":\"jeresig/processing-js\"}},{\"starredAt\":\"2009-02-23T21:42:03Z\",\"node\":{\"name\":\"tipsy\",\"url\":[...]
