---
version: 1
interactions:
- request:
    body: |
      {"query":"query($commitcursor:String$name:String!$owner:String!$perPage:Int!$prNumber:Int!){repository(owner: $owner, name: $name){owner{login},name,pullRequest(number: $prNumber){id,number,commits(first: $perPage, after: $commitcursor){nodes{commit{additions,author{email,name,date},changedFiles,committer{email,name,date},deletions,oid,message,url}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"commitcursor":null,"name":"mergestat","owner":"mergestat","perPage":100,"prNumber":193}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repository":{"owner":{"login":"mergestat"},"name":"mergestat","pullRequest":{"id":"PR_kwDOEIJSDM4s_pJJ","number":193,"commits":{"nodes":[{"commit":{"additions":252,"author":{"email":"patrick.devivo@gmail.com","name":"Patrick
      DeVivo","date":"2021-10-10T23:31:16-04:00"},"changedFiles":7,"committer":{"email":"patrick.devivo@gmail.com","name":"Patrick
      DeVivo","date":"2021-10-10T23:31:16-04:00"},"deletions":215,"oid":"cf8ca56e9e0fa106d42524cc965bbb1780920145","message":"add
      a `topics` column to `github_user_repos` and `github_org_repos` tables\n\nthat''s
      a JSON array of the GitHub topics associated with a repo","url":"https://github.com/mergestat/mergestat/commit/cf8ca56e9e0fa106d42524cc965bbb1780920145"}}],"pageInfo":{"endCursor":"MQ","hasNextPage":false}}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - read:org, repo, user
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4984"
      X-Ratelimit-Reset:
      - "1641496802"
      X-Ratelimit-Resource:
      - graphql
      X-Ratelimit-Used:
      - "16"
    status: 200 OK
    code: 200
    duration: 449.257581ms
[...]
