---
version: 1
interactions:
- request:
    body: |
      {"query":"query($expression:String!$name:String!$owner:String!){repository(owner: $owner, name: $name){object(expression: $expression){... on Blob{text}}}}","variables":{"expression":"cfdcd109d8582ac7cb5b69c48bb426f31f39e948:README.md","name":"askgit","owner":"askgitdev"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"repository\":{\"object\":{\"text\":\"[![Go Reference](https://pkg.go.dev/badge/github.com/mergestat/mergestat.svg)](https://pkg.go.dev/github.com/mergestat/mergestat)\\n[![BuildStatus](https://github.com/mergestat/mergestat/workflows/tests/badge.svg)](https://github.com/mergestat/mergestat/actions?workflow=tests)\\n[![Go
      Report Card](https://goreportcard.com/badge/github.com/mergestat/mergestat)](https://goreportcard.com/report/github.com/mergestat/mergestat)\\n[![TODOs](https://badgen.net/https/api.tickgit.com/badgen/github.com/mergestat/mergestat/main)](https://www.tickgit.com/browse?repo=github.com/mergestat/mergestat&branch=main)\\n[![codecov](https://codecov.io/gh/mergestat/mergestat/branch/main/graph/badge.svg)](https://codecov.io/gh/mergestat/mergestat)\\n\\n\\n#
      askgit <a href=\\\"https://try.askgit.com/\\\"><img align=\\\"right\\\" src=\\\"docs/logo.png\\\"
      alt=\\\"AskGit Logo\\\" height=\\\"100\\\"></a>\\n\\n`askgit` is a command-line
      tool for running SQL queries on git repositories.\\nIt's meant for ad-hoc querying
      of git repositories on disk through a common interface (SQL), as an alternative
      to patching together various shell commands.\\nIt can execute queries that look
      like:\\n```sql\\n-- how many commits have been authored by user@email.com?\\nSELECT
      count(*) FROM commits WHERE author_email = 'user@email.com'\\n```\\n\\nYou can
      try queries on public git repositories without installing anything at [https://try.askgit.com/](https://try.askgit.com/)\\n\\nMore
      in-depth examples and documentation can be found below.\\nAlso checkout [our
      newsletter](https://askgit.substack.com) to stay up to date with feature releases
      and interesting queries and use cases.\\n\\n## Installation\\n\\n### Homebrew\\n\\n```\\nbrew
      tap mergestat/mergestat\\nbrew install askgit\\n```\\n\\n### Pre-Built Binaries\\n\\nThe
      [latest releases](https://github.com/mergestat/mergestat/releases) should have
      pre-built binaries for Mac and Linux.\\nYou can download and add the `askgit`
      binary somewhere on your `$PATH` to use.\\n`libaskgit.so` is also available
      to be loaded as a SQLite run-time extension.\\n\\n### Go\\n\\n[`libgit2`](https://libgit2.org/)
      is a build dependency (used via [`git2go`](https://github.com/libgit2/git2go))
      and must be available on your system for linking.\\n\\nThe following (long \U0001F62C)
      `go install` commands can be used to install a binary via the go toolchain.\\n\\nOn
      Mac:\\n```\\nCGO_CFLAGS=-DUSE_LIBSQLITE3 CGO_LDFLAGS=-Wl,-undefined,dynamic_lookup
      go install -tags=\\\"sqlite_vtable,vtable,sqlite_json1,static,system_libgit2\\\"
      github.com/mergestat/mergestat@latest\\n```\\n\\nOn Linux:\\n```\\nCGO_CFLAGS=-DUSE_LIBSQLITE3
      CGO_LDFLAGS=-Wl,--unresolved-symbols=ignore-in-object-files go install -tags=\\\"sqlite_vtable,vtable,sqlite_json1,static,system_libgit2\\\"
      github.com/mergestat/mergestat@latest\\n```\\n\\nSee the [`Makefile`](https://gi[...]
