---
version: 1
interactions:
- request:
    body: |
      {"query":"query($name:String!$owner:String!$perpage:Int!$stargazersCursor:String$starorder:StarOrder){repository(owner: $owner, name: $name){owner{login},name,stargazers(first: $perpage, after: $stargazersCursor, orderBy: $starorder){edges{starredAt,node{login,email,name,bio,company,avatarUrl,createdAt,updatedAt,twitterUsername,websiteUrl,location}},pageInfo{endCursor,hasNextPage}}}}","variables":{"name":"askgit","owner":"askgitdev","perpage":100,"stargazersCursor":null,"starorder":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"repository\":{\"owner\":{\"login\":\"askgitdev\"},\"name\":\"askgit\",\"stargazers\":{\"edges\":[{\"starredAt\":\"2020-07-03T23:28:44Z\",\"node\":{\"login\":\"travisirby\",\"email\":\"travis.irby@gmail.com\",\"name\":\"Travis
      Irby\",\"bio\":\"javascript developer in NYC\",\"company\":\"Packet - Senior
      Software Engineer\",\"avatarUrl\":\"https://avatars.githubusercontent.com/u/5958376?u=2a40e6aa8c6b2ef487e3d2898f19c83188558bd9&v=4\",\"createdAt\":\"2013-11-17T01:12:41Z\",\"updatedAt\":\"2021-07-02T18:21:44Z\",\"twitterUsername\":null,\"websiteUrl\":\"http://travisirby.net\",\"location\":\"New
      York, New York\"}},{\"starredAt\":\"2020-07-03T23:29:52Z\",\"node\":{\"login\":\"pereztr5\",\"email\":\"\",\"name\":\"Tony
      Perez\",\"bio\":\"Production Engineer\",\"company\":\"@packethost \",\"avatarUrl\":\"https://avatars.githubusercontent.com/u/9088941?u=ba7df8abca3b4ef8ab0d0557f80dc18a14e24aeb&v=4\",\"createdAt\":\"2014-10-08T17:37:12Z\",\"updatedAt\":\"2021-08-06T00:22:45Z\",\"twitterUsername\":null,\"websiteUrl\":\"https://ynotperez.net\",\"location\":null}},{\"starredAt\[...]
[...]
