---
version: 1
interactions:
- request:
    body: |
      {"query":"query($name:String!$owner:String!$perpage:Int!$prcursor:String$prorder:IssueOrder){repository(owner: $owner, name: $name){owner{login},name,pullRequests(first: $perpage, after: $prcursor, orderBy: $prorder){nodes{activeLockReason,additions,author{login,url},authorAssociation,baseRefOid,baseRefName,baseRepository{nameWithOwner},body,changedFiles,closed,closedAt,comments{totalCount},commits{totalCount},createdAt,createdViaEmail,databaseId,deletions,editor{login},headRefName,headRefOid,headRepository{nameWithOwner},isCrossRepository,isDraft,labels{totalCount},lastEditedAt,locked,maintainerCanModify,mergeable,merged,mergedAt,mergedBy{login,url},number,participants{totalCount},publishedAt,reviewDecision,state,title,updatedAt,url},pageInfo{endCursor,hasNextPage}}}}","variables":{"name":"askgit","owner":"askgitdev","perpage":100,"prcursor":null,"prorder":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repository":{"owner":{"login":"askgitdev"},"name":"askgit","pullRequests":{"nodes":[{"activeLockReason":null,"additions":7,"author":{"login":"patrickdevivo","url":"https://github.com/patrickdevivo"},"authorAssociation":"MEMBER","baseRefOid":"470835a70ed61a489eac90b7db9fef94b4af75fe","baseRefName":"master","baseRepository":{"nameWithOwner":"askgitdev/askgit"},"body":"","changedFiles":2,"closed":true,"closedAt":"2020-07-04T02:33:28Z","comments":{"totalCount":0},"commits":{"totalCount":1},"createdAt":"2020-07-04T00:38:16Z","createdViaEmail":false,"databaseId":444220062,"deletions":7,"editor":null,"headRefName":"lint-fixes","headRefOid":"4eb47f399128326bb781eb072d6c0527b4110384","headRepository":{"nameWithOwner":"askgitdev/askgit"},"isCrossRepository":false,"isDraft":false,"labels":{"totalCount":0},"lastEditedAt":null,"locked":false,"maintainerCanModify":false,"mergeable":"CONFLICTING","merged":true,"mergedAt":"2020-07-04T02:33:28Z","mergedBy":{"login":"patrickdevivo","url":"https://github.com/patrickdevivo"},"number":1,"participants":{"totalCount":1},"publishedAt":"2020-07-04T00:38:16Z","reviewDecision":null,"state":"MERGED","title":"address
      some golint issues","updatedAt":"2020-07-04T02:33:35Z","url":"https://github.com/askgitdev/askgit/pull/1"},{"activeLockReason":null,"additions":1,"author":{"login":"OutOfBrain","url":"https://github.com/OutOfBrain"},"authorAssociation":"NONE","baseRefOid":"96009b96edd0a88d515751ed835373ff24f2ea3a","baseRefName":"master","baseRepository":{"nameWithOwner":"askgitdev/askgit"},"body":"When
      querying a local repository with a local file path that is outside of the current
      working directory the an error appears:\r\n\r\n> [...]
