---
version: 1
interactions:
- request:
    body: |
      {"query":"query($name:String!$owner:String!$perpage:Int!$stargazersCursor:String$starorder:StarOrder){repository(owner: $owner, name: $name){owner{login},name,stargazers(first: $perpage, after: $stargazersCursor, orderBy: $starorder){edges{starredAt,node{login,email,name,bio,company,isHireable,avatarUrl,createdAt,updatedAt,twitterUsername,websiteUrl,location}},pageInfo{endCursor,hasNextPage}}}}","variables":{"name":"askgit","owner":"askgitdev","perpage":100,"stargazersCursor":null,"starorder":{"field":"STARRED_AT","direction":"DESC"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"repository\":{\"owner\":{\"login\":\"askgitdev\"},\"name\":\"askgit\",\"stargazers\":{\"edges\":[{\"starredAt\":\"2021-07-29T20:39:01Z\",\"node\":{\"login\":\"moshemarciano\",\"email\":\"\",\"name\":\"Moshe
      Marciano\",\"bio\":null,\"company\":null,\"isHireable\":false,\"avatarUrl\":\"https://avatars.githubusercontent.com/u/875862?u=0cb4c750671545ae8463d1bec260f437c407dfef&v=4\",\"createdAt\":\"2011-06-25T20:47:16Z\",\"updatedAt\":\"2021-07-29T20:33:06Z\",\"twitterUsername\":null,\"websiteUrl\":null,\"location\":null}},{\"starredAt\":\"2021-07-29T17:11:45Z\",\"node\":{\"login\":\"aadyyb\",\"email\":\"\",\"name\":null,\"bio\":null,\"company\":null,\"isHireable\":false,\"avatarUrl\":\"https://avatars.githubusercontent.com/u/39048349?v=4\",\"createdAt\":\"2018-05-07T08:21:43Z\",\"updatedAt\":\"2021-07-28T09:49:01Z\",\"twitterUsername\":null,\"websiteUrl\":null,\"location\":null}},{\"starredAt\":\"2021-07-29T14:26:02Z\",\"node\":{\"login\":\"FlowerEatsFish\",\"email\":\"flower.eating.fish@gmail.com\",\"name[...]
[...]
