---
version: 1
interactions:
- request:
    body: |
      {"query":"query($name:String!$owner:String!$perpage:Int!$prcursor:String$prorder:IssueOrder){repository(owner: $owner, name: $name){owner{login},name,pullRequests(first: $perpage, after: $prcursor, orderBy: $prorder){nodes{activeLockReason,assignees(first:10){nodes{login,url}},additions,author{login,url},authorAssociation,bodyText,baseRefOid,baseRefName,baseRef{name},baseRepository{name,owner{login}},body,checksResourcePath,checksUrl,comments(first:1){totalCount},commits(first:1){totalCount},changedFiles,closed,closedAt,createdAt,createdViaEmail,deletions,databaseId,editor{login},files{totalCount},headRepository{name},headRepositoryOwner{login},headRefOid,headRefName,headRef{name},includesCreatedEdit,isCrossRepository,isDraft,labels(first:1){totalCount},lastEditedAt,locked,mergedAt,mergeCommit{oid},merged,mergeable,mergedBy{login,url},maintainerCanModify,milestone{number},number,participants{totalCount},permalink,publishedAt,reviewDecision,reviewRequests(first:10){nodes{requestedReviewer}},reviewThreads{totalCount},reviews{totalCount},state,title,updatedAt,url,userContentEdits{totalCount}},pageInfo{endCursor,hasNextPage}}}}","variables":{"name":"askgit","owner":"askgitdev","perpage":100,"prcursor":null,"prorder":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repository":{"owner":{"login":"askgitdev"},"name":"askgit","pullRequests":{"nodes":[{"activeLockReason":null,"assignees":{"nodes":[]},"additions":7,"author":{"login":"patrickdevivo","url":"https://github.com/patrickdevivo"},"authorAssociation":"MEMBER","bodyText":"","baseRefOid":"470835a70ed61a489eac90b7db9fef94b4af75fe","baseRefName":"master","baseRef":null,"baseRepository":{"name":"askgit","owner":{"login":"askgitdev"}},"body":"","checksResourcePath":"/askgitdev/askgit/pull/1/checks","checksUrl":"https://github.com/askgitdev/askgit/pull/1/checks","comments":{"totalCount":0},"commits":{"totalCount":1},"changedFiles":2,"closed":true,"closedAt":"2020-07-04T02:33:28Z","createdAt":"2020-07-04T00:38:16Z","createdViaEmail":false,"deletions":7,"databaseId":444220062,"editor":null,"files":{"totalCount":2},"headRepository":{"name":"askgit"},"headRepositoryOwner":{"login":"askgitdev"},"headRefOid":"4eb47f399128326bb781eb072d6c0527b4110384","headRefName":"lint-fixes","headRef":null,"includesCreatedEdit":false,"isCrossRepository":false,"isDraft":false,"labels":{"totalCount":0},"lastEditedAt":null,"locked":false,"mergedAt":"2020-07-04T02:33:28Z","mergeCommit":{"oid":"96009b96edd0a88d515751ed835373ff24f2ea3a"},"merged":true,"mergeable":"CONFLICTING","mergedBy":{"login":"patrickdevivo","url":"https://github.com/patrickdevivo"},"maintainerCanModify":false,"milestone":null,"number":1,"participants":{"totalCount":1},"permalink":"https://github.com/askgitdev/askgit/pull/1","publishedAt":"2020-07-04T00:38:16Z","reviewDecision":null,"reviewRequests":{"nodes":[]},"reviewThreads":{"totalCount":0},"reviews":{"totalCount":0},"state":"MERGED","title":"address
      some golint issues","updatedAt":"2020-07-04T02:33:35Z","url":"https://github.com/askgitdev/askgit/pull/1","userContentEdits":{"totalCount":0}},{"activeLockReason":null,"assignees":{"nodes":[{"login":"patrickdevivo","url":"https://github.com/patrickdevivo"}]},"additions":1,"author":{"login":"OutOfBrain","url":"https://github.com/OutOfBrain"},"authorAssociation":"NONE","bodyText":"When
      querying a local repository with a local file path that is outside of the current
      working directory the an error appears:\n\ngitqlite \"select committer_email
      from commits limit 10\" --repo /Users/A/valid/local/path/to/g[...]
