---
version: 1
interactions:
- request:
    body: |
      {"query":"query($login:String!$perpage:Int!$startcursor:String){user(login: $login){login,starredRepositories(first: $perpage, after: $startcursor){nodes{name,url,description,createdAt,pushedAt,updatedAt,stargazerCount,nameWithOwner},pageInfo{endCursor,hasNextPage}}}}","variables":{"login":"patrickdevivo","perpage":100,"startcursor":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"user\":{\"login\":\"patrickdevivo\",\"starredRepositories\":{\"nodes\":[{\"name\":\"rails\",\"url\":\"https://github.com/rails/rails\",\"description\":\"Ruby
      on Rails\",\"createdAt\":\"2008-04-11T02:19:47Z\",\"pushedAt\":\"2021-08-02T15:35:25Z\",\"updatedAt\":\"2021-08-02T17:23:33Z\",\"stargazerCount\":48781,\"nameWithOwner\":\"rails/rails\"},{\"name\":\"processing-js\",\"url\":\"https://github.com/jeresig/processing-js\",\"description\":\"A
      port of the Processing visualization language to JavaScript.\",\"createdAt\":\"2008-05-12T18:19:10Z\",\"pushedAt\":\"2018-12-04T22:20:56Z\",\"updatedAt\":\"2021-07-22T06:12:17Z\",\"stargazerCount\":1719,\"nameWithOwner\":\"jeresig/processing-js\"},{\"name\":\"tipsy\",\"url\":\"https://github.com/jaz303/tipsy\",\"description\":\"Facebook-style
      tooltips plugin for jQuer[...]
