---
version: 1
interactions:
- request:
    body: |
      {"query":"query($login:String!$orgReposCursor:String$perpage:Int!$repositoryOrder:RepositoryOrder){organization(login: $login){login,repositories(first: $perpage, after: $orgReposCursor, orderBy: $repositoryOrder){nodes{name,description,createdAt,updatedAt,pushedAt,stargazerCount},pageInfo{endCursor,hasNextPage}}}}","variables":{"login":"facebook","orgReposCursor":null,"perpage":100,"repositoryOrder":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"organization\":{\"login\":\"facebook\",\"repositories\":{\"nodes\":[{\"name\":\"hhvm\",\"description\":\"A
      virtual machine for executing programs written in Hack.\",\"createdAt\":\"2010-01-02T01:17:06Z\",\"updatedAt\":\"2021-08-03T19:06:17Z\",\"pushedAt\":\"2021-08-03T19:07:36Z\",\"stargazerCount\":17024},{\"name\":\"pyre2\",\"description\":\"Python
      wrapper for RE2\",\"createdAt\":\"2010-03-16T18:45:15Z\",\"updatedAt\":\"2021-07-31T15:48:06Z\",\"pushedAt\":\"2020-03-16T10:42:01Z\",\"stargazerCount\":590},{\"name\":\"facebook-android-sdk\",\"description\":\"Used
      to integrate Android apps with Facebook Platform.\",\"createdAt\":\"2010-05-10T17:17:33Z\",\"updatedAt\":\"2021-08-03T20:49:55Z\",\"pushedAt\":\"2021-08-03T20:49:45Z\",\"stargazerCount\":5420},{\"name\":\"facebook-ios-sd[...]
