---
version: 1
interactions:
- request:
    body: |
      {"query":"query($login:String!$perpage:Int!$repositoryOrder:RepositoryOrder$userReposCursor:String){user(login: $login){login,repositories(first: $perpage, after: $userReposCursor, orderBy: $repositoryOrder){nodes{name,description,createdAt,updatedAt,pushedAt,stargazerCount},pageInfo{endCursor,hasNextPage}}}}","variables":{"login":"josephjacks","perpage":100,"repositoryOrder":null,"userReposCursor":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"user\":{\"login\":\"josephjacks\",\"repositories\":{\"nodes\":[{\"name\":\"kubernetes\",\"description\":\"Container
      Cluster Manager from Google\",\"createdAt\":\"2015-03-14T22:31:12Z\",\"updatedAt\":\"2019-01-06T07:34:35Z\",\"pushedAt\":\"2015-03-14T00:20:17Z\",\"stargazerCount\":0},{\"name\":\"palladium\",\"description\":\"Framework
      for setting up predictive analytics services\",\"createdAt\":\"2015-03-31T20:33:00Z\",\"updatedAt\":\"2015-03-31T20:33:05Z\",\"pushedAt\":\"2015-03-31T15:53:31Z\",\"stargazerCount\":1},{\"name\":\"tonika\",\"description\":\"Automatically
      exported from code.google.com/p/tonika\",\"createdAt\":\"2015-04-24T05:35:15Z\",\"updatedAt\":\"2015-04-24T05:35:58Z\",\"pushedAt\":\"2015-04-24T05:37:47Z\",\"stargazerCount\":0},{\"name\":\"comm[...]
