---
version: 1
interactions:
- request:
    body: |
      {"query":"query($name:String!$owner:String!){repository(owner: $owner, name: $name){stargazerCount}}","variables":{"name":"askgit","owner":"askgitdev"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repository":{"stargazerCount":2403}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - repo, user
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4903"
      X-Ratelimit-Reset:
      - "1627616382"
      X-Ratelimit-Resource:
      - graphql
      X-Ratelimit-Used:
      - "97"
    status: 200 OK
    code: 200
    duration: 333.695986ms
