---
version: 1
interactions:
- request:
    body: |
      {"query":"query($issuecursor:String$issueorder:IssueOrder$name:String!$owner:String!$perpage:Int!){repository(owner: $owner, name: $name){owner{login},name,issues(first: $perpage, after: $issuecursor, orderBy: $issueorder){edges{cursor,node{activeLockReason,author{login,url},body,bodyText,closed,closedAt,comments{totalCount},createdAt,createdViaEmail,databaseId,editor{login,url},includesCreatedEdit,isReadByViewer,labels{totalCount},lastEditedAt,locked,milestone{number,progressPercentage},number,participants{totalCount},publishedAt,reactions{totalCount},state,title,updatedAt,url,userContentEdits{totalCount},viewerCanReact,viewerCanSubscribe,viewerCanUpdate,viewerDidAuthor,viewerSubscription}},pageInfo{endCursor,hasNextPage}}}}","variables":{"issuecursor":null,"issueorder":{"field":"CREATED_AT","direction":"DESC"},"name":"askgit","owner":"askgitdev","perpage":100}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repository":{"owner":{"login":"askgitdev"},"name":"askgit","issues":{"edges":[{"cursor":"Y3Vyc29yOnYyOpK5MjAyMS0wNy0yNlQwMzoyNDowNC0wNDowMM44x2Tp","node":{"activeLockReason":null,"author":{"login":"wi1dcard","url":"https://github.com/wi1dcard"},"body":"Hey
      team, thank you for providing this awesome tool which helps me a lot traversing
      the data in git repos. I''m wondering that do we have any plan to add binaries
      in the GitHub releases (for example, on GitHub Actions)? It seems not so friendly
      to the new users who have to build from source to install and try.","bodyText":"Hey
      team, thank you for providing this awesome tool which helps me a lot traversing
      the data in git repos. I''m wondering that do we have any plan to add binaries
      in the GitHub releases (for example, on GitHub Actions)? It seems not so friendly
      to the new users who have to build from source to install and try.","closed":true,"closedAt":"2021-07-26T18:45:18Z","comments":{"totalCount":1},"createdAt":"2021-07-26T07:24:04Z","createdViaEmail":false,"databaseId":952591593,"editor":null,"includesCreatedEdit":false,"isReadByViewer":true,"labels":{"totalCount":0},"lastEditedAt":null,"locked":false,"milestone":null,"number":138,"participants":{"totalCount":2},"publishedAt":"2021-07-26T07:24:04Z","reactions":{"totalCount":0},"state":"CLOSED","title":"Binary
      release?","updatedAt":"2021-07-26T18:45:18Z","url":"https://github.com/askgitdev/askgit/issues/138","userContentEdits":{"totalCount":0},"viewerCanReact":true,"viewerCanSubscribe":true,"viewerCanUpdate":true,"viewerDidAuthor":false,"viewerSubscription":"SUBSCRIBED"}},{"cursor":"Y3Vyc29yOnYyOpK5MjAyMS0wNy0yNVQyMDoxNzowMy0wNDowMM44xEbl","node":{"activeLockReason":null,"author":{"login":"patrickdevivo","url":"https://github.com/patrickdevivo"},"body":"#136
      re-adds support for GitHub tables again. We should add some tests to validate
      the behavior in these tables, ideally ones that don''t make actual calls to
      the GitHub API as was done before (let''s mock the responses as we should)","bodyText":"#136
      re-adds support for GitH[...]
