name: tests
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.14
      uses: actions/setup-go@v1
      with:
        go-version: 1.14.3
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Vet
      run: make vet
    
    - name: Test
      run: make test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v1
        with:
          version: v1.26
          args: --build-tags sqlite_vtable
